<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Su archivo ha sido procesado correctamente</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Productos que NO pudieron ser subidos:</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
          <table>
    <tr>
        <th>Producto</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Razón</th>
    </tr>
     {{#each query}}
        <tr>
            <td>{{product}}</td>
            <td style="background-color: {{color}};">{{color}}</td>
            <td>{{sizes}}</td>
            <td>{{reason}}</td>
        </tr>
        {{/each }}
    </table>
       

          </div>
          <!-- /.card -->

          <!-- general form elements -->

          <!-- /.card-body -->
        </div>
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


